.container-cabecera{
    height: auto;
   
     background-color: #D9D9D9;
}

.titulo{
    margin: 40px;
}
li{
    margin: 10px;
}
li:hover{
    background-color: #3c95d4;
    box-shadow: 4px 8px 6px -2px  #ccc;
    transform: translateZ(12px);
    
   
}
.nav-link:hover{
    color: white;
}
.row>*{
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand-lg{
    padding-left: 20px;
    box-shadow: 4px 8px 6px -2px  #ccc;
}
.titulo{
    letter-spacing: 4px;
    text-transform: uppercase;
}
   