/* Aquí se puede añadir una hoja de estilo para cada componente, le pongo el mismo nombre que los componentes,para mayor claridad */
main{
    margin-left: 10px;
    background-color: white;
 }
 
 .cabecera{
     background-color: #D9D9D9;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-left: 5vh;
     padding-right: 3vh;
     width: 80vh;
     
 
 }
 h3{
     color:#3c95d4;
     letter-spacing: 5px;
     padding-left: 2vh;
     margin-top: 5vh;
 }
 h1{
     word-spacing: 10px;
     color: white;
     font-weight: bold;
 }
 .cerrar{
     background-color: transparent;
     border: none;
     color: white;
   
 }
 
 .cerrar img:hover{
     background-color: red;
 }