.datos{
    border:3px solid #d9d9d9;
    background-color:white;
    padding-left:10px;
    margin: 10px;
    
}
.estiloDatos{
    color:#525252;
}
.container-deportista{
    width:80%;
    margin: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
   
}